
#main-container {
    display: flex;
    flex-wrap:wrap;
    width: 100px;
    height: 100px;
}

#gridChildrens{
    width: 16px;
    height: 16px;
    border-style: solid;
    margin: 0px 0px 0px 0px;
    
}

.gridChildrensColoured{
    background-color: red;
}

.gridChildrensErased{
    background-color: white;
}

